PGHOST=postgres
PGPORT=5432
PGDATABASE=lab2
PGUSER=user
PGPASSWORD=password

POSTGRES_JDBC_JAR=/home/jovyan/work/jdbc/postgresql-42.7.3.jar

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_JDBC_PORT=8123
CLICKHOUSE_DATABASE=lab2
CLICKHOUSE_USER=user
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_JDBC_JAR=/home/jovyan/work/jdbc/clickhouse-jdbc-0.6.3.jar

CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042
CASSANDRA_LOCAL_DC=datacenter1
CASSANDRA_USER=
CASSANDRA_PASSWORD=
CASSANDRA_KEYSPACE=lab2
CASSANDRA_PYTHON_DRIVER_VERSION=3.29.2
CASSANDRA_SPARK_PACKAGE=com.datastax.spark:spark-cassandra-connector_2.12:3.5.1
